<!DOCTYPE html>
<meta charset="utf-8">
<style> 
    body {
        font-family: sans-serif;
        background-color: #edf1f7
    }
    select {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        background-color: #f9f9f9;
    }

    input {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 14px;
        background-color: #f9f9f9;
        border:1px solid #cccccc
    }

    .button {
      background-color: #ff6c00;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button:disabled {
        background-color: #dedede;
        color: white;   
        font-size: 16px;
        font-weight: bold;
    }
    .container {
        max-width: 840px;
        margin: 0 auto;
    }
    #prediction-inputs {
        max-width: 500px;
        margin: 0 auto;
    }
    #hist-input{
        margin-left: 20px;
    }
    #hist {
        max-width: 800px;
        margin: 0 auto;
    }
    #age-hist {
        max-width: 500px;
        margin: 0 auto;
    }
    #mean-prob-conversion {
        max-width: 500px;
        margin: 0 auto;
    }

    .bar { 
        fill: #555abf; 
    }
    .text {
        font-family: sans-serif;
    }

    li.hist-img {
        list-style-type: none;        
    }
    li.button-hist-cat {
        font-family: sans-serif;
        font-size: 0.8rem;
        display: inline-block;
        padding: 0.2em 1em 0.2em 1em;
        margin-top: 5px;
        list-style-position:inside;
        border: 0.5px solid #747474;
        cursor: pointer;
    }
    li.button-hist-cat:hover {
        background-color: #0cb09a;
        border: none;
        color: #ffffff;
    }
    li.button-hist-cat-clicked {
        background-color: #0cb09a;
        border: none;
        color: #ffffff;
    }
</style>
<body>

<div class="container" id="container">


    <div id="hist-input">
        <h2>View Histogram</h2>
        <p>Click on the buttons below to view histograms of continuous variables</p>
        <ul>
            <li id="hist-li-age" class="button-hist-cat" onclick="generate_histogram('age');">age</li>
            <li id="hist-li-campaign" class="button-hist-cat" onclick="generate_histogram('campaign');">campaign</li>
            <li id="hist-li-pdays" class="button-hist-cat" onclick="generate_histogram('pdays');">pdays</li>
            <li id="hist-li-previous" class="button-hist-cat" onclick="generate_histogram('previous');">previous</li>
             <li id="hist-li-euribor3m" class="button-hist-cat" onclick="generate_histogram('euribor3m');">euribor3m</li>
             <li id="hist-li-nr_employed" class="button-hist-cat" onclick="generate_histogram('nr_employed');">nr_employed</li>
             <li id="hist-li-cons_price_idx" class="button-hist-cat" onclick="generate_histogram('cons_price_idx');">cons_price_idx</li>
            <li id="hist-li-cons_conf_idx" class="button-hist-cat" onclick="generate_histogram('cons_conf_idx');">cons_conf_idx</li>
            <li id="hist-li-emp_var_rate" class="button-hist-cat" onclick="generate_histogram('emp_var_rate');">emp_var_rate</li>
        </ul>

    </div>
    <div id="hist"></div>
    <br>
    <div id="correlation-title">
        <h2>Pairwise Correlations</h2>
        <p>Click the pairwise correlation values / circles in the visualization below to generate the scatter plot for the pair of variables</p>
    </div>

    <div id="correlation"></div>

    <div id="pairs-title">
        <h2>Scatterplot | 
            <strong><span id="pairs-y-h2">campaign</span></strong> <small>vs</small> <strong><span id="pairs-x-h2">age</span></strong>
        </h2>
    </div>
    <div id="pairs"></div>
    <br>
    <div id="age-hist"></div>

    <br>
    <div id="predictions"></div>
    <div id="mean-prob-conversion">
        <h2>Mean Probability of Subscribing: <span id="mean-probabiity">0.084</span></h>
    <br>
    </div>

    <div id="prediction-inputs">
        <h3>Prediction Inputs &nbsp;&nbsp;&nbsp;
            <button id="gen-pred" class="button" onclick="generate_predictions();">Generate Prediction</button>
        </h3>
        <hr>
        <p>
            <span>Age of Customer: </span>
            <input id="pred-age" value=18 type="number" min="17" max="99">            
        </p>
        
        <p>
            <span>Customer Profession: </span>
            <select name="job" id="pred-job">
                <option value="admin.">admin.</option>
                <option value="blue-collar">blue-collar</option>
                <option value="technician">technician</option>
                <option value="services">services</option>
                <option value="management">management</option>
                <option value="retired">retired</option>
                <option value="entrepreneur">entrepreneur</option>
                <option value="self-employed">self-employed</option>
                <option value="housemaid">housemaid</option>
                <option value="unemployed">unemployed</option>
                <option value="student">student</option>
                <option value="unknown">unknown</option>        
            </select>
        </p>

        <p>
            <span>Marital Status: </span>
            <select name="marital" id="pred-marital">
                <option value="married">married</option>
                <option value="single">single</option>
                <option value="divorced">divorced</option>
                <option value="unknown">unknown</option>
            </select>
        </p>
        <p>
            <span>Education: </span>
            <select name="education" id="pred-education">
                <option value="university.degree">university.degree</option>
                <option value="high.school">high.school</option>
                <option value="basic.9y">basic.9y</option>
                <option value="professional.course">professional.course</option>
                <option value="basic.4y">basic.4y</option>
                <option value="basic.6y">basic.6y</option>
                <option value="unknown">unknown</option>
                <option value="illiterate">illiterate</option>
            </select>
        </p>

        <p>
            <span>Has Credit in Default: </span>
            <select name="default" id="pred-default">
                <option value="no">no</option>
                <option value="unknown">unknown</option>
                <option value="yes">yes</option>
            </select>
        </p>

        <p>
            <span>Customer Has Housing Loan: </span>
            <select name="housing" id="pred-housing">
                <option value="yes">yes</option>
                <option value="no">no</option>
                <option value="unknown">unknown</option>
            </select>
        </p>

        <p>
            <span>Customer Has Personal Loan: </span>
            <select name="loan" id="pred-loan">
                <option value="no">no</option>
                <option value="yes">yes</option>
                <option value="unknown">unknown</option>
            </select>
        </p>

        <p>
            <span>Contact Type: </span>
            <select name="contact" id="pred-contact">
                <option value="cellular">cellular</option>
                <option value="telephone">telephone</option>
            </select>
        </p>

        <p>
            <span>Last Contact Month: </span>
            <select name="month" id="pred-month">
                <option value="may">may</option>
                <option value="jul">jul</option>
                <option value="aug">aug</option>
                <option value="jun">jun</option>
                <option value="nov">nov</option>
                <option value="apr">apr</option>
                <option value="oct">oct</option>
                <option value="sep">sep</option>
                <option value="mar">mar</option>
                <option value="dec">dec</option>
            </select>
        </p>

        <p>
            <span>Last known Day Of Call: </span>
            <select name="day_of_week" id="pred-day_of_week">
                <option value="thu">thu</option>
                <option value="mon">mon</option>
                <option value="wed">wed</option>
                <option value="tue">tue</option>
                <option value="fri">fri</option>
            </select>
        </p>


        <p>
            <span>Number of times contacted: </span>
            <input id="pred-campaign" value="0" type="number" min="0" max="99">            
        </p>

        <p>
            <span>Days Passed since last contact: </span>
            <input id="pred-pdays" value="0" type="number" min="0" max="99">            
        </p>

        <p>
            <span># Times Contacted in last campaign: </span>
            <input id="pred-previous" value="0" type="number" min="0" max="99">            
        </p>

        <p>
            <span>Outcome of previous Campaign: </span>
            <select name="poutcome" id="pred-poutcome">
                <option value="nonexistent">nonexistent</option>
                <option value="failure">failure</option>
                <option value="success">success</option>
            </select>        
        </p>


    </div>

</div>

<script src="//d3js.org/d3.v4.min.js"></script>

<script>
function getCookie (name) {
  var value = '; ' + document.cookie
  var parts = value.split('; ' + name + '=')
  if (parts.length === 2) {
    return parts
      .pop()
      .split(';')
      .shift()
  }
}
</script>


<script>

// histogram

// set the dimensions and margins of the graph
var margin_hist = {top: 20, right: 30, bottom: 50, left: 40},
    width_hist = 800 - margin_hist.left - margin_hist.right,
    height_hist = 400 - margin_hist.top - margin_hist.bottom;

// append the svg object to the body of the page
var svg_hist = d3.select("#hist")
  .append("svg")
    .attr("width", width_hist + margin_hist.left + margin_hist.right)
    .attr("height", height_hist + margin_hist.top + margin_hist.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin_hist.left + "," + margin_hist.top + ")");

  data_hist = JSON.parse('{{ age_hist | safe }}')
  console.log(data_hist)

  var x_hist = d3.scaleLinear()
      .domain([data_hist.min, data_hist.max])
      .range([0, width_hist]);
  svg_hist.append("g")
      .attr("transform", "translate(0," + height_hist + ")")
      .attr("class", "hist-x-axis")
      .call(d3.axisBottom(x_hist));

  // set the parameters for the histogram
  var histogram = d3.histogram()
      .value(function(d) { return d.value; })   // I need to give the vector of value
      .domain(x_hist.domain())  // then the domain of the graphic
      .thresholds(x_hist.ticks(70)); // then the numbers of bins

  // And apply this function to data to get the bins
  var bins = histogram(data_hist.values);

  // Y axis: scale and draw:
  var y_hist = d3.scaleLinear()
      .range([height_hist, 0]);
      y_hist.domain([0, d3.max(bins, function(d) { return d.length; })]);   // d3.hist has to be called before the Y axis obviously
  svg_hist.append("g")
      .attr("class", "hist-y-axis")
      .call(d3.axisLeft(y_hist));

  // append the bar rectangles to the svg element
  svg_hist.selectAll("rect")
      .data(bins)
      .enter()
      .append("rect")
        .attr("class", "hist-rect")
        .attr("x", 1)
        .attr("transform", function(d) { return "translate(" + x_hist(d.x0) + "," + y_hist(d.length) + ")"; })
        .attr("width", function(d) { return x_hist(d.x1) - x_hist(d.x0) -1 ; })
        .attr("height", function(d) { return height_hist - y_hist(d.length); })
        .style("fill", "#69b3a2")
        .on("mouseover", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.5);   
        })
        .on("mouseout", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.9);   
        })  

  svg_hist.append("text")
        .attr("x", width_hist/2)             
        .attr("y", height_hist + margin_hist.bottom*0.75 )
        .attr("text-anchor", "middle")  
        .style("font-size", "14px")
        .style("font-weight", "bold")
        .attr("class", "text")
        .attr("id", "hist-text")
        .text("Age");

function generate_histogram(colname) {

    data ={
        "colname":colname,
    };

    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function () {
        var json_response
        if (this.readyState === 4 && this.status === 200) {
            json_response = JSON.parse(this.response);
            console.log(json_response)
            update_hist(json_response)
        }
    }
    xhttp.open('POST', '/api/get_col_values', true);
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    xhttp.send(
        JSON.stringify(data)
    );
}


function update_hist(data) {

  // Updating bars for prediction
  // Scale the range of the data in the domains
  var x_hist = d3.scaleLinear()
      .domain([data.min, data.max])
      .range([0, width_hist]);
  svg_hist.selectAll(".hist-x-axis")
      .attr("transform", "translate(0," + height_hist + ")")
      .attr("class", "hist-x-axis")
      .call(d3.axisBottom(x_hist));

  // set the parameters for the histogram
  var histogram = d3.histogram()
      .value(function(d) { return d.value; })   // I need to give the vector of value
      .domain(x_hist.domain())  // then the domain of the graphic
      .thresholds(x_hist.ticks(70)); // then the numbers of bins

  // And apply this function to data to get the bins
  var bins = histogram(data.values);

  // Y axis: scale and draw:
  var y_hist = d3.scaleLinear()
      .range([height_hist, 0]);
      y_hist.domain([0, d3.max(bins, function(d) { return d.length; })]);   // d3.hist has to be called before the Y axis obviously
  svg_hist.selectAll(".hist-y-axis")
      .attr("class", "hist-y-axis")
      .call(d3.axisLeft(y_hist));

  // append the bar rectangles to the svg element
  svg_hist.selectAll(".hist-rect").remove()
  svg_hist.selectAll("rect")
      .data(bins)
      .enter()
      .append("rect")
        .attr("class", "hist-rect")
        .attr("x", 1)
        .attr("transform", function(d) { return "translate(" + x_hist(d.x0) + "," + y_hist(d.length) + ")"; })
        .attr("width", function(d) { return x_hist(d.x1) - x_hist(d.x0) -1 ; })
        .attr("height", function(d) { return height_hist - y_hist(d.length); })
        .style("fill", "#69b3a2")
        .on("mouseover", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.5);   
        })
        .on("mouseout", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.9);   
        })  
    document.getElementById("hist-text").innerHTML=data.column

}

</script>


<script>
    // Correlogram
    var margin_corr = {top: 20, right: 40, bottom: 20, left: 20},
        width_corr = 900 - margin_corr.left - margin_corr.right,
        height_corr = 500 - margin_corr.top - margin_corr.bottom

    var svg_corr = d3.select("#correlation")
      .append("svg")
        .attr("width", width_corr + margin_corr.left + margin_corr.right)
        .attr("height", height_corr + margin_corr.top + margin_corr.bottom)
      .append("g")
        .attr("transform", "translate(" + margin_corr.left + "," + margin_corr.top + ")");

    data = JSON.parse('{{ corr_data | safe }}')

      var domain_corr = d3.set(data.map(function(d) { return d.x })).values()
      var num = Math.sqrt(data.length)

      // Create a color scale
      var color_corr = d3.scaleLinear()
        .domain([-1, 0, 1])
        .range(["#ff0000", "#545454", "#000080"]);

      // Create a size scale for bubbles on top right. Watch out: must be a rootscale!
      var size_corr = d3.scaleSqrt()
        .domain([0, 1])
        .range([0, 20]);

      // X scale
      var x_corr = d3.scalePoint()
        .range([0, width_corr])
        .domain(domain_corr)

      // Y scale
      var y_corr = d3.scalePoint()
        .range([0, height_corr])
        .domain(domain_corr)

      // Create one 'g' element for each cell of the correlogram
      var cor = svg_corr.selectAll(".cor")
        .data(data)
        .enter()
        .append("g")
          .attr("class", "cor")
          .attr("style", "cursor:pointer")
          .attr("transform", function(d) {
            return "translate(" + x_corr(d.x) + "," + y_corr(d.y) + ")";
          })
        .on("click", function(d) {
                get_pairs(xcol=d.x, ycol=d.y);
            }
        )

      cor.filter(function(d){
          var ypos = domain_corr.indexOf(d.y);
          var xpos = domain_corr.indexOf(d.x);
          return xpos <= ypos;
        })
        .append("text")
          .attr("y", 5)
          .text(function(d) {
            if (d.x === d.y) {
              return d.x;
            } else {
              return d.value.toFixed(2);
            }
          })
          .style("font-size", 11)
          .style("text-align", "center")
          .style("fill", function(d){
            if (d.x === d.y) {
              return "#000";
            } else {
              return color_corr(d.value);
            }
          });   

      cor.filter(function(d){
          var ypos = domain_corr.indexOf(d.y);
          var xpos = domain_corr.indexOf(d.x);
          return xpos > ypos;
        })
        .append("circle")
          .attr("r", function(d){ return size_corr(Math.abs(d.value)) })
          .attr("transform", "translate(10, 0)")
          .style("fill", function(d){
            if (d.x === d.y) {
              return "#000";
            } else {
              return color_corr(d.value);
            }
          })
          .style("opacity", 0.9)
          .on("mouseover", function(d) {       
                d3.select(this).transition()        
                    .duration(0)      
                    .style("opacity", 0.5);   
            })
          .on("mouseout", function(d) {       
                d3.select(this).transition()        
                    .duration(0)      
                    .style("opacity", 0.9);   
            })

</script>

<script>
    // Pairwise Correlations

    var margin_pair = {top: 20, right: 50, bottom: 100, left: 80 },
    width_pair = 800 - margin_pair.left - margin_pair.right,
    height_pair = 500 - margin_pair.top - margin_pair.bottom;

    var color_pair = d3.scaleOrdinal(d3.schemeCategory10);

    var svg_pair = d3.select("#pairs").append("svg")
        .attr("width", width_pair + margin_pair.left + margin_pair.right)
        .attr("height", height_pair + margin_pair.top + margin_pair.bottom)
      .append("g")
        .attr("transform", "translate(" + margin_pair.left + "," + margin_pair.top + ")");

    var data_pair = JSON.parse('{{ pair_data | safe }}')

    var data_pair_2 = {
        "x_name":"x-va",
        "y_name":"y-va",
        "x_min":0,
        "x_max":35,
        "y_min":0,
        "y_max":22,
        "values": [
            { "x":5, "y":3, "success":"subscribed" },
            { "x":3, "y":4, "success":"subscribed" },
            { "x":1, "y":13, "success":"subscribed" },
            { "x":21, "y":19, "success":"fail" },
            { "x":33, "y":8, "success":"fail" },
        ]
    }

    var x_pair = d3.scaleLinear()
        .range([ 0, width_pair]);

    var y_pair = d3.scaleLinear()
        .range([height_pair, 0]);

    var xAxis_pair = d3.axisBottom(x_pair);
    var yAxis_pair = d3.axisLeft(y_pair);

    x_pair.domain([data_pair.x_min, data_pair.x_max]);
    y_pair.domain([data_pair.y_min, data_pair.y_max]);

    svg_pair.append("g")
      .attr("class", "x-axis-pairs")
      .attr("transform", "translate(0," + height_pair + ")")
      .call(xAxis_pair)

    svg_pair.append("g")
      .attr("class", "y-axis-pairs")
      .call(yAxis_pair)


    svg_pair.append("text")
      .attr("id", "x-axis-pairs-label")             
      .attr("transform",
            "translate(" + (width_pair/2) + " ," + 
                           (height_pair + margin_pair.bottom/2) + ")")
      .style("text-anchor", "middle")
      .text(data_pair.x_name);

    svg_pair.append("text")
      .attr("id", "y-axis-pairs-label")             
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - 3*margin_pair.left/4)
      .attr("x",0 - (height_pair / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text(data_pair.y_name);   

    svg_pair.selectAll(".dot-pairs")
      .data(data_pair.values)
    .enter().append("circle")
      .attr("class", "dot-pairs")
      .attr("r", 5)
      .attr("cx", function(d) { return x_pair(d.x); })
      .attr("cy", function(d) { return y_pair(d.y); })
      .style("fill", function(d) { return color_pair(d.success); })
      .style("opacity", 0.5);

    var legend_pair = svg_pair.selectAll(".legend-pairs")
      .data(color_pair.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

    legend_pair.append("rect")
      .attr("x", width_pair - 48)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color_pair);

    legend_pair.append("text")
      .attr("x", width_pair - 60)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });


    function get_pairs(xcol,ycol) {

       data = {
            "xcol":xcol,
            "ycol":ycol
       }

        // Loading message
        svg_pair.append("text")
          .attr("id", "pair-loading")             
          .attr("y", height_pair/2)
          .attr("x", width_pair/2)
          .style("text-anchor", "middle")
          .style("color", "#eaeaea")
          .style("font-size", "32px")
          .text("Loading...");  

        window.location.href = "/#pairs-title";

        var xhttp = new XMLHttpRequest()
        xhttp.onreadystatechange = function () {
            var json_response
            if (this.readyState === 4 && this.status === 200) {
                json_response = JSON.parse(this.response);
                update_pairs(json_response);
                // Remove loading
                document.getElementById("pair-loading").remove();
            }
        }
        xhttp.open('POST', '/api/get_pair_values', true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        xhttp.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhttp.send(
            JSON.stringify(data)
        );
    }


    function update_pairs(data_pair) {


        x_pair.domain([data_pair.x_min, data_pair.x_max]);
        y_pair.domain([data_pair.y_min, data_pair.y_max]);

        var xAxis_pair = d3.axisBottom(x_pair);
        var yAxis_pair = d3.axisLeft(y_pair);

        x_pair.domain([data_pair.x_min, data_pair.x_max]);
        y_pair.domain([data_pair.y_min, data_pair.y_max]);

        svg_pair.selectAll(".x-axis-pairs")
          .attr("class", "x-axis-pairs")
          .attr("transform", "translate(0," + height_pair + ")")
          .call(xAxis_pair)

        svg_pair.selectAll(".y-axis-pairs")
          .attr("class", "y-axis-pairs")
          .call(yAxis_pair)


        var circles = svg_pair
            .selectAll(".dot-pairs")
            .data(data_pair.values)

        circles.exit().remove()
        circles.enter().append("circle")
            .attr("class", "dot-pairs")
        .merge(circles)
        .transition()
          .attr("class", "dot-pairs")
          .attr("r", 5)
          .attr("cx", function(d) { return x_pair(d.x); })
          .attr("cy", function(d) { return y_pair(d.y); })
          .style("fill", function(d) { return color_pair(d.success); })
          .style("opacity", 0.5);

        document.getElementById("y-axis-pairs-label").innerHTML = data_pair.y_name;
        document.getElementById("x-axis-pairs-label").innerHTML = data_pair.x_name;

        document.getElementById("pairs-y-h2").innerHTML = data_pair.y_name;
        document.getElementById("pairs-x-h2").innerHTML = data_pair.x_name;

    }

</script>



<script>
    // Bar chart For Age
    var margin_age = {top: 20, right: 20, bottom: 30, left: 40},
    width_age = 600  - margin_age.left - margin_age.right,
    height_age = 400 - margin_age.top - margin_age.bottom;


    // set the ranges
    var x_age = d3.scaleBand()
              .range([0, width_age])
              .padding(0.01);
    var y_age = d3.scaleLinear()
              .range([height_age, 0]);

    var svg_age = d3.select('#age-hist').append("svg")
        .attr("width", width_age + margin_age.left + margin_age.right)
        .attr("height", height_age + margin_age.top + margin_age.bottom)
        .append("g").attr("transform", "translate(" + margin_age.left + "," + margin_age.top + ")");
    

    var ageData = [
      {"name":"John", "height":1.93},
      {"name":"Mafe", "height":1.70},
      {"name":"Sonia", "height":1.60},
      {"name":"Vicente", "height":0.32},
      {"name":"John2", "height":1.93},
      {"name":"Mafe2", "height":1.70},
      {"name":"Sonia2", "height":1.60},
      {"name":"Vicente2", "height":0.32},
      {"name":"John3", "height":1.93},
      {"name":"Mafe3", "height":1.70},
      {"name":"Sonia3", "height":1.60},
      {"name":"Vicente3", "height":0.32}
    ]

    x_age.domain(ageData.map(function(d) { return d.name }));
    y_age.domain([0, d3.max(ageData, function(d) { return d.height })]);      

    svg_age.selectAll(".age-bar")
        .data(ageData)
        .enter()
        .append("rect")
        .attr("class", "age-bar")
        .attr("x", function(d) { return x_age(d.name) })
        .attr("width", x_age.bandwidth())
        .attr("y", function(d) { return y_age(d.height)})
        .attr("height", function(d) { return height_age - y_age(d.height); });

    // add the x Axis
    svg_age.append("g")
      .attr("transform", "translate(0," + height_age + ")")
      .call(d3.axisBottom(x_age));

    // add the y Axis
    svg_age.append("g")
      .call(d3.axisLeft(y_age));


</script>

<script>

    // Stacked
    data = [
        {
            "key":"yes",
            "values":[
                {
                    "subscribe":"yes",
                    "marital":"married",
                    "count":24928,
                    "y0":0,
                    "y":24928,
                },
                {
                    "subscribe":"yes",
                    "marital":"single",
                    "count":24928,
                    "y0":24928,
                    "y":36496,
                }
            ]
        },
        {
            "key":"no",
            "values":[
                {
                    "subscribe":"no",
                    "marital":"married",
                    "count":24928,
                    "y0":0,
                    "y":24928,
                },
                {
                    "subscribe":"no",
                    "marital":"single",
                    "count":24928,
                    "y0":24928,
                    "y":36496,
                }
            ]
        }
    ]

</script>


<script>
var data = [
    {
        "name": "Aggregate",
        "value": 0.08372565264734562
    },
    {
        "name": "XGBoost",
        "value": 0.04470130056142807
    },
    {
        "name": "Random Forests",
        "value": 0.82
    },
    {
        "name": "Logistic Regression",
        "value": 0.14647565738060878
    }
];

// set the dimensions and margins of the graph
var margin = {top: 50, right: 50, bottom: 60, left: 100},
    width = 800     - margin.left - margin.right,
    height = 350 - margin.top - margin.bottom;

// set the ranges
var y = d3.scaleBand()
          .range([height, 0])
          .padding(0.1);

var x = d3.scaleLinear()
          .range([0, width]);
          
// append the svg object to the body of the page
// append a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#predictions").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

  // Scale the range of the data in the domains
  x.domain([0, Math.min(d3.max(data, function(d){ return d.value; })*1.25, 1)])
  y.domain(data.map(function(d) { return d.name; }));
  //y.domain([0, d3.max(data, function(d) { return d.sales; })]);

  // append the rectangles for the bar chart
  svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
        .attr("class", "bar")
        .attr("width", function(d) {return x(d.value); } )
        .attr("y", function(d) { return y(d.name); })
        .attr("height", y.bandwidth())
        .on("mouseover", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.5);   
        })
        .on("mouseout", function(d) {       
            d3.select(this).transition()        
                .duration(0)      
                .style("opacity", 0.9);   
        })


  // add the x Axis
  svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .attr("class", "pred-x-axis")
      .call(d3.axisBottom(x));

  // add the y Axis
  svg.append("g")
      .call(d3.axisLeft(y));

  // Add title
  svg.append("text")
        .attr("x", width/2)             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")  
        .style("font-size", "24px")
        .style("font-weight", "bold")
        .attr("class", "text")
        .text("Predicting Time Deposit Subscription");
  // Add x-subtitle
  svg.append("text")
        .attr("x", width/2)             
        .attr("y", height + margin.bottom*0.75 )
        .attr("text-anchor", "middle")  
        .style("font-size", "14px")
        .style("font-weight", "bold")
        .attr("class", "text")
        .text("Probability of Conversion");

function get_histogram() {

   data = {
        "colname":"nr_employed"
   }

    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function () {
        var json_response
        if (this.readyState === 4 && this.status === 200) {
            json_response = JSON.parse(this.response);
            console.log(json_response)
        }
    }
    xhttp.open('POST', '/api/get_col_values', true);
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    xhttp.send(
        JSON.stringify(data)
    );
}

function generate_predictions() {

    // Onclick event to generate predictions

    button = document.getElementById('gen-pred');
    button.disabled = true;
    window.location.href = "/#predictions";
    data ={
        "age":Math.min(Math.max(parseInt(document.getElementById('pred-age').value), 17), 98),
        "job":document.getElementById('pred-job').value,
        "marital":document.getElementById('pred-marital').value,
        "education":document.getElementById('pred-education').value,
        "default":document.getElementById('pred-default').value,
        "housing":document.getElementById('pred-housing').value,
        "loan":document.getElementById('pred-loan').value,
        "contact":document.getElementById('pred-contact').value,
        "month":document.getElementById('pred-month').value,
        "day_of_week":document.getElementById('pred-day_of_week').value,
        "campaign":document.getElementById('pred-campaign').value,
        "pdays":document.getElementById('pred-pdays').value,
        "previous":document.getElementById('pred-previous').value,
        "poutcome":document.getElementById('pred-poutcome').value,
    };

    var xhttp = new XMLHttpRequest()
    xhttp.onreadystatechange = function () {
        var json_response
        if (this.readyState === 4 && this.status === 200) {
            json_response = JSON.parse(this.response);
            console.log(json_response);
            update_pred(json_response);
            button.disabled = false;
            mean_probability = document.getElementById("mean-probabiity");
            mean_probability.innerHTML = json_response[0]['value'].toFixed(2);
        }
    }
    xhttp.open('POST', '/api/predict', true);
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    xhttp.send(
        JSON.stringify(data)
    );
}



function update_pred(data) {

  // Updating bars for prediction

  // Scale the range of the data in the domains
  x.domain([0, Math.min(d3.max(data, function(d){ return d.value; })*1.25, 1)])
  y.domain(data.map(function(d) { return d.name; }));

  console.log(x)
  console.log(y)

  // append the rectangles for the bar chart
  svg.selectAll(".bar")
    .data(data)
    .enter().append("rect")
    .merge(svg.selectAll(".bar"))
    .transition()
    .duration(500)
      .attr("class", "bar")
      .attr("width", function(d) {return x(d.value); } )
      .attr("y", function(d) { return y(d.name); })
      .attr("height", y.bandwidth())
  
    var x_axis = d3.selectAll('.pred-x-axis')
        .transition()
        .duration(100)
        .attr("class", "pred-x-axis")
        .call(d3.axisBottom(x));
}
</script>
</body>
